USE [master]
GO
/****** Object:  Database [winFormsCRUD.vtModel]    Script Date: 28.04.2022 16:19:51 ******/
CREATE DATABASE [winFormsCRUD.vtModel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'winFormsCRUD.vtModel', FILENAME = N'C:\Users\tuzlaEv\winFormsCRUD.vtModel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'winFormsCRUD.vtModel_log', FILENAME = N'C:\Users\tuzlaEv\winFormsCRUD.vtModel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [winFormsCRUD.vtModel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [winFormsCRUD.vtModel]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 28.04.2022 16:19:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grups]    Script Date: 28.04.2022 16:19:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[grupAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.grups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personels]    Script Date: 28.04.2022 16:19:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[isim] [nvarchar](max) NULL,
	[grupID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.personels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[grups] ON 

INSERT [dbo].[grups] ([Id], [grupAdi]) VALUES (1, N'Mutfak')
INSERT [dbo].[grups] ([Id], [grupAdi]) VALUES (2, N'Şef')
INSERT [dbo].[grups] ([Id], [grupAdi]) VALUES (5, N'Temizlikçi')
SET IDENTITY_INSERT [dbo].[grups] OFF
GO
SET IDENTITY_INSERT [dbo].[personels] ON 

INSERT [dbo].[personels] ([Id], [isim], [grupID]) VALUES (1, N'ahmet diğeri', 1)
INSERT [dbo].[personels] ([Id], [isim], [grupID]) VALUES (2, N'ayşe', 2)
INSERT [dbo].[personels] ([Id], [isim], [grupID]) VALUES (3, N'veli', 2)
SET IDENTITY_INSERT [dbo].[personels] OFF
GO
/****** Object:  Index [IX_grupID]    Script Date: 28.04.2022 16:19:51 ******/
CREATE NONCLUSTERED INDEX [IX_grupID] ON [dbo].[personels]
(
	[grupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.personels_dbo.grups_grupID] FOREIGN KEY([grupID])
REFERENCES [dbo].[grups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[personels] CHECK CONSTRAINT [FK_dbo.personels_dbo.grups_grupID]
GO
USE [master]
GO
